.table_box 
    {
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }
.table_min 
    {
        min-width: 200px;
    }
.table_max 
    {
        max-width: 800px;
    }
th, td
    {
        width: 20%;
        min-width: 100px;
        max-width: 150px;
    }
.wrapper 
    {
        min-width: 500px;
        max-width: 500px;
        margin: 0 auto;
    }
.button
    {
        align-content: center;
        width: 20%;
    }
.button_min
    {
        min-width: 100px;
    }
.button_max
    {
        min-width: 60px;
    }
.left
    {
        left: -20%;
    }