.table_box 
    {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
.table_min 
    {
        min-width: 200px;
    }
.table_max 
    {
        max-width: 500px;
    }
.wrapper 
    {
        min-width: 500px;
        max-width: 500px;
        margin: 0 auto;
    }
td
    {
        padding: 10px 10px 10px 10px;
        width: 200px;
    }
.button
    {
        align-content: center;
        width: 20%;
    }
.button_min
    {
        min-width: 100px;
    }
.button_max
    {
        min-width: 60px;
    }
.left_relative
    {
        position: relative;
        left: -20%;
    }