.table_box 
    {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

.wrapper 
    {
        width: 60%;
        margin: 0 auto;
    }
td
    {
        padding: 10px 10px 10px 10px;
        width: 200px;
    }
.button
    {
        align-content: center;
        width: 20%;
    }